<a href="https://colab.research.google.com/github/BabritB/step-by-step-ml-beginner/blob/master/Model_Evaluation_Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Metrics for evaluating the model performance

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split # For splitting the data to test and train
from sklearn.model_selection import StratifiedKFold  # For cross validate implementation
from sklearn.model_selection import cross_val_score  # For calculating the accuracy score
from sklearn.linear_model import LogisticRegression # Regression model
from sklearn.metrics import classification_report # After Prediction Evaluation
from sklearn.metrics import confusion_matrix # After Prediction Evaluation
from sklearn.metrics import accuracy_score # After Prediction Evaluation

In [0]:
url = "https://goo.gl/bDdBiA"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

In [0]:
data_frame=pd.read_csv(url,names=names)

In [0]:
features=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age']
target=['class']

In [0]:
X=data_frame[features]
Y=data_frame[target]

In [6]:
X.head()

   preg  plas  pres  skin  test  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [7]:
Y.head()

   class
0      1
1      0
2      1
3      0
4      1

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=7)

In [0]:
model=LogisticRegression(solver='liblinear')

In [0]:
kFold=StratifiedKFold(n_splits=10,random_state=1,shuffle=True)  # Usually taking 10 splits is a standard practice

In [11]:
cv_results=cross_val_score(model, X_train, Y_train, cv=kFold, scoring='accuracy')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Make Predictions:

In [12]:
model.fit(X_train, Y_train)
predictions = model.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Prediction Evaluation:

In [16]:
print(f"  Accuracy --> 1:\n {accuracy_score(Y_test, predictions)}")
print(f"  ConfusionMatrix --> 2:\n {confusion_matrix(Y_test, predictions)}")
print(f" Classification Report --> 3:\n {classification_report(Y_test, predictions)}")

  Accuracy --> 1:
 0.7922077922077922
  ConfusionMatrix --> 2:
 [[91  6]
 [26 31]]
 Classification Report --> 3:
               precision    recall  f1-score   support

           0       0.78      0.94      0.85        97
           1       0.84      0.54      0.66        57

    accuracy                           0.79       154
   macro avg       0.81      0.74      0.76       154
weighted avg       0.80      0.79      0.78       154