<a href="https://colab.research.google.com/github/BabritB/step-by-step-ml-beginner/blob/master/Split_Train%26Test_Data_Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Splitting and Cross Validationo

#### 1.Split a dataset into training and test sets.
#### 2.Estimate the accuracy of an algorithm using k-fold cross validation.
#### 2.(a) There are many other cross validation techniques but for the example I am using K-fold, but the core concept is same for all the validations.

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split # For splitting the data to test and train
from sklearn.model_selection import StratifiedKFold  # For cross validate implementation
from sklearn.model_selection import cross_val_score  # For calculating the accuracy score
from sklearn.linear_model import LogisticRegression # Regression model

In [0]:
url = "https://goo.gl/bDdBiA"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

In [0]:
data_frame=pd.read_csv(url,names=names)

In [0]:
features=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age']
target=['class']

In [0]:
X=data_frame[features]
Y=data_frame[target]

In [14]:
X.head()

   preg  plas  pres  skin  test  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [15]:
Y.head()

   class
0      1
1      0
2      1
3      0
4      1

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=1)

In [0]:
model=LogisticRegression(solver='liblinear')

In [0]:
kFold=StratifiedKFold(n_splits=10,random_state=1,shuffle=True)  # Usually taking 10 splits is a standard practice

In [21]:
cv_results=cross_val_score(model, X_train, Y_train, cv=kFold, scoring='accuracy')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
print(cv_results)

[0.74193548 0.74193548 0.75806452 0.74193548 0.7704918  0.81967213
 0.75409836 0.83606557 0.78688525 0.6557377 ]

#### For each split the accuracy has been calculated . Now we can aggregate all the results and calculate an average using MEAN and STANDARD DEVIATION. Higher the mean and lower the std. dev is the best model

In [0]:
mean_accuracy=cv_results.mean()
std_accuracy=cv_results.std()

In [26]:
print(f"Accuracy of the model is: {mean_accuracy*100} %")

Accuracy of the model is: 76.06821787414066 %

In [27]:
print(f"Standard Deviation is : {std_accuracy}")

Standard Deviation is : 0.046971435259158784

## IMP:-
#### Accuracy is not the best metric or measure for the model validation because it might skip the other validation points as the output is binary and we are restricting our dataset. For eg. if these features have this value then its YES and others are NO. By this way everytime small peice of data set will be tested and obviously give a higher accuracy as it is neglecting others.

#### To overcome this we have Confusion Matrix, F1 score,Precision and Recall.